.legal-container {
  position: relative;

}

.legal-container::before {
  display: block;
  content: " ";
  position: absolute;
  bottom: 0;
  left: -120px;
  background: url('penguin.svg') no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
}

.legal-container p {
  font-size: 8px;
  color: #9c9c9C;
}

.legal-container a {
  color: #5762D5;
}

@media screen and (max-width: 768px) {
  .legal-container::before {
    width: 100px;
    height: 100px;
    left: -60px;
  }
}